# BASE DE DATOS
POSTGRES_USER=example_user
POSTGRES_PASSWORD=example_password
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=db_ejemplo
DATABASE_URL=postgresql://example_user:example_password@localhost:5432/db_ejemplo

# SEGURIDAD Y JWT
SECRET_KEY=your-super-secret-key-min-32-chars
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_DAYS=7

# CORS
CORS_ORIGINS=["http://localhost:5173"]

# MERCADO PAGO
MP_ACCESS_TOKEN=TEST-xxxx
MP_PUBLIC_KEY=TEST-xxxx
MP_NOTIFICATION_URL=https://dominio-ngrok.com/api/v1/pagos/webhook

# CLOUDINARY
CLOUDINARY_CLOUD_NAME=mi-cloud-name
CLOUDINARY_API_KEY=123456789012345
CLOUDINARY_API_SECRET=abcdefghijklmn

# URLS FRONTEND
VITE_API_URL=http://localhost:8000