POSTGRES_USER=example_user
POSTGRES_PASSWORD=example_password
POSTGRES_HOST=example_host
POSTGRES_PORT=5432
POSTGRES_DB=db_ejemplo
DATABASE_URL=postgresql://example_user:example_password@example_host:5432/db_ejemplo

SECRET_KEY=cambiar-a-key-real
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_DAYS=7

CORS_ORIGINS=["http://localhost:5173"]

MP_ACCESS_TOKEN=mercadopago_access_token
MP_PUBLIC_KEY=public_key_mercadopago
MP_NOTIFICATION_URL=http://localhost:8000/api/v1/pagos/webhook

VITE_API_URL=http://localhost:8000
VITE_MP_PUBLIC_KEY=
FRONTEND_URL=http://localhost:5173
