# entorno virtual
venv/
.venv/

# variables de entorno
.env

# seed demo local (solo tu máquina)
app/db/seed_demo_local.py

# archivos de python
__pycache__/
*.pyc
*.pyo

# archivos de sistema
.DS_Store
Thumbs.db

# vscode
.vscode/

# logs
*.log

# pytest
.pytest_cache/

# migrations compiladas
alembic/versions/__pycache__/